<p id="notice"><%= notice %></p>

<p>
  <strong>Id linea:</strong>
  <%= @linea.id_linea %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @linea.cliente %>
</p>

<%= link_to 'Edit', edit_linea_path(@linea) %> |
<%= link_to 'Back', lineas_path %>
