<p id="notice"><%= notice %></p>

<h1>Contienes</h1>

<table>
  <thead>
    <tr>
      <th>Encuestum</th>
      <th>Preguntum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contienes.each do |contiene| %>
      <tr>
        <td><%= contiene.encuestum %></td>
        <td><%= contiene.preguntum %></td>
        <td><%= link_to 'Show', contiene %></td>
        <td><%= link_to 'Edit', edit_contiene_path(contiene) %></td>
        <td><%= link_to 'Destroy', contiene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contiene', new_contiene_path %>
