<p id="notice"><%= notice %></p>

<p>
  <strong>Encuestum:</strong>
  <%= @contiene.encuestum %>
</p>

<p>
  <strong>Preguntum:</strong>
  <%= @contiene.preguntum %>
</p>

<%= link_to 'Edit', edit_contiene_path(@contiene) %> |
<%= link_to 'Back', contienes_path %>
