<p id="notice"><%= notice %></p>

<h1>Realizas</h1>

<table>
  <thead>
    <tr>
      <th>Linea</th>
      <th>Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realizas.each do |realiza| %>
      <tr>
        <td><%= realiza.linea %></td>
        <td><%= realiza.pago %></td>
        <td><%= link_to 'Show', realiza %></td>
        <td><%= link_to 'Edit', edit_realiza_path(realiza) %></td>
        <td><%= link_to 'Destroy', realiza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Realiza', new_realiza_path %>
