<p id="notice"><%= notice %></p>

<p>
  <strong>Linea:</strong>
  <%= @realiza.linea %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @realiza.pago %>
</p>

<%= link_to 'Edit', edit_realiza_path(@realiza) %> |
<%= link_to 'Back', realizas_path %>
