<p id="notice"><%= notice %></p>

<p>
  <strong>Linea:</strong>
  <%= @contestum.linea %>
</p>

<p>
  <strong>Encuesta:</strong>
  <%= @contestum.encuesta %>
</p>

<%= link_to 'Edit', edit_contestum_path(@contestum) %> |
<%= link_to 'Back', contesta_path %>
