<p id="notice"><%= notice %></p>

<p>
  <strong>Segmento:</strong>
  <%= @separa.segmento %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @separa.linea %>
</p>

<%= link_to 'Edit', edit_separa_path(@separa) %> |
<%= link_to 'Back', separas_path %>
