<p id="notice"><%= notice %></p>

<p>
  <strong>Fijomovil:</strong>
  <%= @e.fijomovil %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @e.linea %>
</p>

<%= link_to 'Edit', edit_e_path(@e) %> |
<%= link_to 'Back', es_path %>
