<p id="notice"><%= notice %></p>

<p>
  <strong>Contrato:</strong>
  <%= @es2.contrato %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @es2.linea %>
</p>

<%= link_to 'Edit', edit_es2_path(@es2) %> |
<%= link_to 'Back', es2s_path %>
