<p id="notice"><%= notice %></p>

<p>
  <strong>Pago:</strong>
  <%= @atravesde.pago %>
</p>

<p>
  <strong>Mdp:</strong>
  <%= @atravesde.mdp %>
</p>

<%= link_to 'Edit', edit_atravesde_path(@atravesde) %> |
<%= link_to 'Back', atravesdes_path %>
