<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>SPI</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'jquery-1.11.3.min', 'rails', 'highcharts' %>
</head>

<body>

	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-default">
			<a class="navbar-brand" href="index_path"><h2>Sistema de Proyección de Indicadores</h2></a>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>.
				<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
				<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<li>
								<%= link_to "Dashboard", root_path, class: "fa fa-dashboard fa-fw" %>                             
							</li>
							<li>
								<%= link_to " Historico", 'historico', class: "fa fa-bar-chart" %>             
							</li>
							<li>
								<%= link_to " Nube de Palabras", 'nube', class: "fa fa-cloud" %>
							</li>
							<li>
								<%= link_to " Más Gráficos", 'graficos', class: "fa fa-line-chart" %>
							</li>
							<li>
								<%= link_to "Configuraciones", 'config', class: "fa fa-wrench fa-fw" %>
							</li>
						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>


				<% else %>
					<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
					<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
				<nav>



					<% end %>

					<%= yield %>

				</body>
				</html>
